.explainer {
    margin-bottom: 2rem;
}

.explainer h1 {
    margin-bottom: 0.5rem;
}

.explainer p {
    color: var(--pico-muted-color);
}

article.card:target {
    box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.2);
}

article.card header a {
    text-decoration: none;
    color: inherit;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

article.card header a:hover {
    text-decoration: underline;
}

article.card footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tags-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.tags-list > li {
    list-style: none;
}

.tags-list > li > span {
    display: inline-block;
    padding: 0.2rem 0.6rem;
    background-color: var(--pico-muted-border-color);
    color: var(--pico-secondary);
    border-radius: var(--pico-border-radius);
    font-size: 0.8rem;
    white-space: nowrap;
}
