{{ define "page_fragments" }}
<!doctype html>
<html lang="en">
    <head>
        {{ template "comp_head" }}
        <title>My Blog Home Page</title>
    </head>

    <body>
        <header class="container">{{ template "comp_navbar" "fragments" }}</header>

        <main class="container">
            <section>
                {{ range $fragment := . }}
                <article class="card" id="{{ $fragment.ID }}">
                    <header>
                        <a href="#{{ $fragment.ID }}">
                            <div>
                                <h5>{{ $fragment.Title }}</h5>
                            </div>
                        </a>
                    </header>

                    {{ $fragment.Content }}

                    <footer>
                        <ul class="tags-list">
                            {{ range $tag := .Tags }}
                            <li><span>{{ $tag }}</span></li>
                            {{ end }}
                        </ul>

                        <small>
                            <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time>
                        </small>
                    </footer>
                </article>
                {{ end }}
            </section>
        </main>
    </body>
</html>
{{ end }}
