{{ define "page_home" }}
<!doctype html>
<html lang="en">
    <head>
        {{ template "comp_head" }}
        <title>Home | ctbur.net</title>
    </head>

    <body>
        <header class="container">{{ template "comp_navbar" "home" }}</header>

        <main class="container">
            <p>
                Welcome to my website! It exists because I felt it might be fun
                to write down some thoughts, and decided to share them - that's
                why you can see this page! To view them, check out the
                <a href="/fragments">Fragments</a>. At some point I might also
                write some long-form blog posts. Or maybe not. Time will tell.
            </p>

            <p>
                I'm not big into social media (thus the old-school blog) but you
                can also find me on
                <a href="https://github.com/ctbur/">GitHub</a> and
                <a href="https://www.linkedin.com/in/cyrill-burgener-ab009418b/"
                    >LinkedIn</a
                >
                if you're interested.
            </p>
        </main>
    </body>
</html>
{{ end }}
